.formControl {
    width: 30%;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: #ffffff;
  }

  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }